<template lang="pug">
v-dialog(
		max-width="500px"
		v-model="parent('block').settingsModal"
	)
		v-toolbar(color="blue darken-2" dark) 
			v-toolbar-title Настройки
			v-spacer
			v-btn(flat @click.stop="hide" icon)
				v-icon close
		v-card
			v-card-text
				slot(name="settings")
				div.predefined(v-if="getSettings")
					div(
						v-for="(s,k) in getSettings" :key="k"
					)
						v-checkbox(
							v-if="s.type == 'checkbox'"
							:label="s.label"
							v-model="settings[k]"
							:required="s.required"
							:value="s.default"
						)
			v-card-actions
				v-btn(color="primary" flat @click.stop="save" :disabled="!$parent.valid") Сохранить
</template>
<script lang="coffee">
import {finder} from '../../mixins/finder.coffee'
export default
	mixins: [finder]
	data: () ->
		{
			settings: {}
		}
	computed:
		getSettings: ()->
			@parent('block').getSettings	
	mounted: ()->
		@$parent.$emit("hasModal",@$slots.settings?) 
		@settings = @$store.getters['vuewyg/getBlock'](@parent('block').options.id).settings || {}
		@$watch('settings',(val)->
			@$store.dispatch 'vuewyg/update',
				id: @parent('block').options.id
				settings: val
		,{
			deep: true
		})
	methods:
		hide: ()->
			@parent('block').settingsModal = false
		save: ()->
			@$emit('save')
			@hide()
</script>
<style lang="stylus">
.predefined
	margin 20px 0 0 0
.dialog
	.field
		margin 10px 0 15px 0 !important
		label
			color rgba(26, 118, 210, 1.000)
			display block !important
</style>
