<template lang="pug">
div.block-code
	v-progress-linear(
			v-bind:indeterminate="true"
			v-if="loading"
		)
	template(v-else)
		template(v-if="preview")
			pre
				code(v-html="output")
		v-card(v-else)
			v-card-text
				v-text-field(
					label="Код"
					:multi-line="true"
					auto-grow
					v-model="input.code"
					color="grey lighten-1"
				)
				v-select(
					v-bind:items="langs"
					label="Язык программирования"
					v-model="input.lang"
					value="0"
					autocomplete
				)
			v-card-actions
				v-btn(primary @click="save") Сохранить
		settings-modal(
			@save="save()"
			)
			div(slot="settings")
				v-form(v-model="valid")
					v-text-field(
						label="Код"
						:multi-line="true"
						auto-grow
						v-model="input.code"
						color="grey lighten-1"
					)
					v-select(
						v-bind:items="langs"
						label="Язык программирования"
						v-model="input.lang"
						:value="0"
						autocomplete
					)
				v-card-actions
</template>
<script lang="coffee">
import {REGEX} from '../regex.coffee'
import SettingsModal from '../Modals/Settings.vue'
# import Prism from 'prismjs'
export default
	components: {SettingsModal}
	props:
		options:
			type: Object
			required: true
		langs:
			type: Array
			default: ()->
				["PHP","Ruby on Rails","Python","JavaScript"]

	data: () ->
		{
			valid: false
			loading: false
			preview: false
			input:
				code: ''
				lang: ''
			output:''
			rules:
				code: [
					(v) -> true
				]
		}
	beforeMount: ()->
		@input.code = @options.code
	mounted: ()->
	computed:
		getLang: ()->
			@input.lang.toLowerCase().replace(/\s+/,'')
	methods:
		save: ()->
			# @output = Prism.highlight(@input.code, Prism.languages.javascript)
			@output = @input.code
			@update()
			@preview = true
		update: ()->
			@$store.dispatch 'vuewyg/update', {
					id: @options.id
					code: @input.code
					lang: @input.lang
			}
</script>
<style lang="stylus">
// import 'prismjs/themes/prism-coy.css'
.block-code
	margin 15px 0 !important
code
	border none !important
	padding none !important
	background none !important
	box-shadow none !important
</style>
