<template lang="pug">
div.header
	h2(
			ref="header" 
			contenteditable="true" 
			@input="updateBlock" 
			@keypress.stop="updateBlock" 
			:placeholder="options.placeholder"
	)
	settings-modal
</template>
<script lang="coffee">
import SettingsModal from '../Modals/Settings.vue'
import {finder} from '../../mixins/finder.coffee'
export default
	components: {SettingsModal}
	mixins: [finder]
	props: 
		options: 
			type: Object,
			required: true
	mounted: () ->
		@$refs.header.innerHTML = @options.content || ''
		that = @
		@$refs.header.addEventListener 'keydown', (e)->
			if e.key == 'Enter'
				next = that.$store.getters.getNextBlock
				if next && next.type == 'paragraph'
					that.parent('editor').selectBlock(next.id,true)
				else
					that.parent('editor').addBlock({type:"paragraph"})
				e.preventDefault() 
	methods:
		updateBlock: () ->
			if @$parent.validate({
				content: @$refs.header.innerText
				})
				@$store.dispatch 'vuewyg/update', 
					id: @options.id
					content: @$refs.header.innerText
</script>
<style lang="stylus">
h2:empty::before
	content attr(placeholder)
	color rgba(0,0,0,.1)
	font-weight normal
</style>
