<template lang="pug">
div.block-image(:class="getSize")
	figure.image(ref="image" v-if="getSrc" :style="figureStyle")
		img(
			:src="getSrc"
			:alt="input.caption"
			ref="image"
		)
		figcaption {{options.caption}}
		settings-modal(@save="updateImage()")
			v-form(slot="settings" v-model="valid" @submit.prevent="updateImage()")
				v-text-field(
					label="Описание"
					v-model="input.caption"
					counter="100"
					autofocus
					clearable=true
					:rules="rules.caption"
				)
				.field
					label Размер:
					v-btn-toggle(mandatory v-model="size")
						v-btn(flat v-for="(size,index) in sizes" :key="index") {{size}}
				.field(v-if="[0,1].includes(size)")
					label Выравнивание:
					v-btn-toggle(mandatory v-model="align")
						v-btn(flat)
							v-icon format_align_left
						v-btn(flat)
							v-icon format_align_center
						v-btn(flat)
							v-icon format_align_right
					
	div(v-else)
			input(
				type="file"
				ref="image"
				name="image"
				@change="uploadFile"
			)
			.uploader(@dragover.prevent="dragover" @dragend="dragleave" @dragleave="dragleave" @drop="drop" @paste="paste" :class="{'drag':drag}")
				v-progress-linear(
					v-bind:indeterminate="true"
					v-if="uploading"
				)
				template(v-else)
					p(v-if="!linkMode") 
						template(v-if="drag") Перетащите изображние сюда, чтобы загрузить его.
						template(v-else) <a href="" @click.prevent.stop="$refs.image.click()">Выберите файл</a>, перетащите сюда, вставьте из буфера обмена<br> или <a href="" @click.prevent.stop="linkMode = true">загрузите по ссылке</a>.
					p(v-else)
						v-text-field(
							label="Ссылка на изображение"
							v-model="input.link"
							:rules="rules.link"
							required
							hint="Вставьте ссылку"
							placeholder="https://ya.ru/image.jpg"
							@change="remoteFileUpload"
							@input="remoteFileUpload"
							@paste="remoteFileUpload"
							clearable
							)
						v-btn(@click.prevent="linkMode = false") Отмена
					v-snackbar(
						color="error"
						v-model="errors"
						v-if="errors"
						) {{errors}}
</template>
<script lang="coffee">
import {REGEX} from '../regex.coffee'
import SettingsModal from '../Modals/Settings.vue'
import {finder} from '../../mixins/finder.coffee'
export default
	mixins: [finder]
	components: {SettingsModal}
	props:
		options:
			type: Object
			required: true
	data: ->
		valid: false
		uploading: false
		linkMode: false
		drag: false
		align: 1
		size: 2
		menu: 
			show: false
			x: 0
			y: 0
		input:
			src: ''
			caption: ''
			link: ''
		image: {}
		errors: ''
		rules:
			src: [
				(v) ->
					v.length < 10 && !!REGEX.IMAGE.test(v) || "Укажите корректное изображение!"
			]
			link: [
				(v) ->
					!!REGEX.IMAGE.test(v) || "Укажите корректное изображение!"
			]
			caption: [
				(v) ->
					if v.length < 50
						return true
					"Пожалуйста, будьте лаконичнее."
			]
	computed:
		figureStyle: ->
			css = {}
			switch @align
				when 0 then css.textAlign = 'left'
				when 1 then css.textAlign = 'center'
				when 2 then css.textAlign = 'right'
			css
		imageStyle: ()->
			{
			
			}
		sizes: -> @parent('editor').imageSizes
		getSize: ->
			switch @size
				when 0
					'small'
				when 1
					'medium'
				when 2
					'large'
				when 3
					'full'
		getSrc: ->
			return @input.src if @input.src
			@$parent.nowrap = false
			keys = Object.keys(@sizes)
			key = keys[@size]
			@$parent.nowrap = true if ['full','url'].includes key
			if @image?.file[key]
				if @image.file[key].url
					return @image.file[key].url
				return @image.file[key]
			null
	created: ->
		@input.src = @options.src
		@image = @options.image
		@size = @options.size || 2
		@align = @options.align || 1
		@$root.$on('drag.image.upload',@handleDrop)
	methods: 
		handleDrop: ({block,e})->
			e.preventDefault()
			if block.id == @options.id
				console.log e
				@uploadFile(e,e.dataTransfer.files[0])
		showMenu: (e)->
			@menu.show = false
			@menu.x = e.clientX
			@menu.y = e.clientY
			@$nextTick ()=>
				@menu.show = true
		paste: (e)->
			if e.clipboardData?.items[0] && e.clipboardData.items[0].type.match /^image\/(jpe?g|gif|png)$/
				@uploadFile(e,e.clipboardData.items[0].getAsFile())
		dragover: ->
			@drag = true
		dragleave: ->
			@drag = false
		drop: (e)->
			e.preventDefault()
			@drag = false
			@uploadFile(e,e.dataTransfer.files[0])
		checkCaption: (e)->
			if !@valid
				e.preventDefault()
		remoteFileUpload: (e)->
			@errors = ''
			if @input.link.match REGEX.IMAGE
				@uploading = true
				axios.post(@parent('editor').urls.image_upload,{image: {remote_file_url: @input.link}})
				.then ({data}) =>
					@image = data.image
					@input.src = data.image.file.url
					@input.link = ''
					@updateImage()
					@uploading = false
					@$root.$emit('image.uploaded',{
						block:@options
						image: @image
					})
				.catch (error) =>
					console.log error
					@input.link = ''
					@errors = 'Произошла ошибка во время загрузки'
					@uploading = false
		uploadFile: (e,file)->
			@errors = ''
			unless file
				files = e.target.files || e.dataTransfer.files
				file = files[0]
			unless file.type.match /^image\/(jpe?g|gif|png)$/
				@errors = 'Разрешено загружать только изображения, следующих типов: jpg, png, gif.'
				return
			# unless file.size
			form = new FormData
			form.append('image[file]',file)
			@uploading = true
			axios.post(@parent('editor').urls.image_upload,form)
			.then ({data}) =>
				@image = data.image
				@input.src = data.image.file.url
				@updateImage()
				@uploading = false
			.catch (error) =>
				console.log error
				@errors = 'Произошла ошибка во время загрузки'
				@uploading = false
		updateImage: ()->
			@$store.dispatch 'vuewyg/update', {
				id: @options.id
				src: @input.src
				align: @align
				size: @size
				image: @image
				caption: @input.caption
			}
</script>
<style lang="stylus">
figure.image
	margin 0 !important
	img
		max-width 100%
		height auto
	figcaption
		text-align center
.block-image
	input[type="file"]
		//display block !important
		position absolute
		left -9999px
	.field
		label
			display block !important
	.uploader
		padding 50px
		text-align center
		width 100%
		height 200px
		display flex
		flex-direction column
		align-items center
		justify-content  center
		background antiquewhite
		position relative
		border 1px solid rgba(0,0,0,.1)
		&.drag
			border 1px dotted rgba(0,0,0,.1)
			background rgba(0,0,0,.05)
		p
			width 100%
</style>
