<template lang="pug">
div
	v-progress-linear(
			v-bind:indeterminate="true"
			v-if="loading"
		)
	template(v-else)
		v-container.block-link(v-if="options.link")
			v-layout(row wrap)
				v-flex(xs2)
					img(:src="options.image" v-if="options.image")
				v-flex(xs10)
					header 
						a(:href="options.link") {{options.title}}
					p(v-if="options.description") {{options.description}}
					a(:href="options.link") {{options.link}}
		v-form(v-model="valid" ref="form" v-else)
			v-text-field(
				label="Ссылка"
				v-model="input.link"
				:rules="rules.link"
				required
				hint="Вставьте ссылку и нажмите Enter."
				placeholder="https://ya.ru"
				clearable
			)
</template>
<script lang="coffee">
import {REGEX} from '../regex.coffee'
import {finder} from '../../mixins/finder.coffee'
export default
	mixins: [finder]
	props:
		options:
			type: Object
			required: true
	data: () ->
		{
			valid: false
			loading: false
			input:
				link: ''
				title: ''
				description: ''
				image: ''
			rules:
				link: [
					(v) ->
						if REGEX.LINK.test v 
							return true
						'Укажите корректную ссылку.'
				]
		}
	beforeMount: ()->
		@input.link = @options.link
		@input.title = @options.title
		@input.image = @options.image
	mounted: ()->
		if @$refs.form
			@$refs.form.$el.addEventListener 'submit', (e)=>
				e.preventDefault()
				if @$refs.form.validate()
					@updateLink()
				false
	methods:
		updateLink: ()->
			@loading = true
			axios.get(@parent('editor').urls.og+encodeURIComponent(@input.link))
			.then (response)=>
				og = response.data.og
				@loading = false
				@$store.dispatch 'vuewyg/update', {
					id: @options.id
					link: @input.link
					title: @input.title = og.title
					description: @input.description = og.description
					image: @input.image = og.image if og.image?
				}
			.catch (error) =>
				@loading = false
				@$store.dispatch 'vuewyg/update', {
					id: @options.id
					link: @input.link
				}
</script>
<style lang="stylus">
.block-link
	border 1px solid rgba(0,0,0,.1)
	margin 5px 0px
	border-radius 3px
	header
		font-size 1.4em
	img
		max-width 64px !important
		height auto !important
	.layout.wrap
		align-items center
</style>
