<template lang="pug">
div.block-paragraph(
	@mouseup="reSelect" 
	@click="reSelect"
	v-on-clickaway="resetBubble"
	@mouseleave="hidePlusMenu"
	)
	v-progress-linear(
		v-bind:indeterminate="true"
		v-if="loading"
	)
	template(v-else)
		.block-plus(
			v-if="showPlus && !options.permanent"
			)
			v-tooltip(left v-if="showPlus")
				v-btn(
					@click="togglePlusMenu"
					outline
					icon
					ripple
					slot="activator"
					color="grey"
					) 
						v-icon(v-if="!plusMenu") add
						v-icon(v-else) close
				span(v-if="!plusMenu") Добавить блок
				span(v-else) Отмена
			.block-select(v-if="plusMenu")
				template(v-for="(block,key) in parent('editor').getAvailableBlocks")
					v-tooltip(bottom)
						v-btn(fab dark small @click="replaceBlock(key)" slot="activator")
							v-icon(color="white") {{block.icon}}
						span {{block.label}}
		.block-bubble(
		ref="bubble"
		:style="bubbleStyle" v-if="bubbleStyle"
		)
			v-btn-toggle
				v-btn(
					v-for="button in bubbleButtons"
					color="black"
					:title="button.label"
					@click.stop="buttonCallback(button.command)"
					:key="button.icon"
					v-if="buttonIf(button)"
				)
					v-icon(color="white") {{button.icon}}

			i.icon.caret.down
		p(
			ref="paragraph" 
			contenteditable="true" 
			@input="update" 
			@keypress.stop="update" 
			@focus="isSelected = true"
			@mouseup="update"
			:placeholder="options.placeholder"
			:class="{'placeholder':!options.placeholder && !plusMenu}"
		)
		settings-modal
		v-dialog(
			max-width="500"
			v-model="linkModal"
		)
			v-toolbar(color="blue darken-2" dark) 
				v-toolbar-title Вставить ссылку
				v-spacer
				v-btn(flat @click.stop="linkModal=false" icon)
					v-icon close
			v-card
				v-card-text
					v-form(
						v-model="validLink"
						@submit.prevent="insertLink"
					)
						v-text-field(
							label="Ссылка"
							v-model="input.link"
							required
							autofocus
							:rules="rules.link"
							placeholder="https://yandex.ru"
							clearable=true
							prepend-icon="fa-link"
							ref="linkInput"
						)
				v-card-actions(v-if="validLink")
					v-btn(color="primary" flat @click.stop="insertLink") Вставить
</template>
<script lang="coffee">
# import sanitizeHtml from 'sanitize-html'
import contentEdit from 'content-edit'
import {REGEX} from '../regex.coffee'
import SettingsModal from '../Modals/Settings.vue'
import { mixin as clickaway } from 'vue-clickaway'
import {finder} from '../../mixins/finder.coffee'
export default
	components: {SettingsModal}
	mixins: [ finder, clickaway ]
	props:
		options:
			type: Object,
			required: true
		selected:
			type: Boolean
			default: false
	data: ()->
		valid: true
		validLink: true
		loading: false
		linkModal: false
		doubleBackspace: false
		plusMenu: false
		isSelected: false
		lastPressedKey: null
		bubble:
			top: 0
			left: 0
			width: 0
		selection: null
		range: null
		linkIsSelected: false
		input:
			link: ''
		rules:
			link: [
				(v) ->
					regex = /https?:\/\/[\.\w_-]+\.[\.\/\w_-]+$/g
					if regex.test(v)
						return true
					"Укажите корректную ссылку"
			]
	watch:
		linkModal: (val) ->
			@linkValid = true
			setTimeout () =>
				@$refs.linkInput.$el.querySelector('input').focus()
			,500
	computed: 
		showPlus: ->
			@selected && @options.content == ''
		bubbleButtons: -> @parent('editor').buttons
		bubbleStyle: ->
			if @selection && @range && @bubble.top
				DOMRect = @$refs.bubble.getBoundingClientRect()
				top =  @bubble.top - DOMRect.height - 10
				left = @bubble.left - DOMRect.width/2 + @bubble.width/2
				{
					visibility: "visible",
					top: top + "px",
					left: left + "px",
				}
			else
				{
					visibility: "hidden",
					top: "-1000px",
					left: "-9999px"
				}
	mounted: () ->
		@$refs.paragraph.innerHTML = @options.content || ''
		@$refs.paragraph.addEventListener 'select', (e) =>
			@reSelect()
		if !@options.permanent
			@$refs.paragraph.addEventListener 'keyup',(e)=>
				if e.key == "Backspace" && @selected
					if "" == @$refs.paragraph.innerText
						if @doubleBackspace
							@parent('editor').destroyBlock(@options.id)
							@doubleBackspace = false
						else
							@doubleBackspace = true
							setTimeout ()->
								@doubleBackspace = false
							,500
				e.preventDefault()
		@$refs.paragraph.addEventListener 'paste', (e)=>
			imageType = /image.*/
			if e.clipboardData.files.length
				for file in e.clipboardData.files
					continue if !file.type.match(imageType)
					reader = new FileReader()
					reader.readAsDataURL(file)
					reader.onload = (e)->
						@uploadImage(e.target.result)
			else 
				pastedText = e.clipboardData.getData('text/plain')
				if pastedText.match(REGEX.YOUTUBE)
					@loading = true
					axios.get(@parent('editor').urls.og+encodeURIComponent(pastedText))
					.then (response)=>
						og = response.data.og
						@loading = false
						@replaceBlock 
							type: "video"
							caption: og.title
							thumb: og.image
							src: og.url
					.catch (error) =>
						@loading = false
						@replaceBlock 
							type: "video"
							caption: ""
							src: pastedText
					e.preventDefault()
				else if pastedText.match REGEX.TWITTER
					@replaceBlock 
						type: "twitter"
						src: pastedText
					e.preventDefault()
				else if pastedText.match REGEX.IMAGE
					@replaceBlock 
						type: "image"
						src: pastedText
					e.preventDefault()	
		window.addEventListener 'keyup', (e) =>
			if e.key == 'Enter' and !(e.altKey or e.ctrlKey or e.shiftKey or e.metaKey)
				if @lastPressedKey == 'Enter'
					@lastPressedKey = null
					document.execCommand('Outdent',false,null)
					#document.execCommand('removeFormat',false,null)
					document.execCommand('formatBlock', false, 'div')
					@resetBubble()
				else
					@lastPressedKey = 'Enter'
					setTimeout ()=>
						@lastPressedKey = null
					, 500
	update: ()->
		@reSelect()
	methods:
		# drop: (e) ->
		# 	@dragUpload = false
		# 	@parent('editor').addBlock
		# 		type:'image'
		# 		src: ''
		# 	.then (block) =>
		# 		setTimeout ()=>
		# 			@$root.$emit('drag.image.upload',{
		# 				block:block
		# 				e:e
		# 			})
		# 		,500
		# 	# uploadFile(e,e.dataTransfer.files[0])
		# dragover: ->
		# 	@dragUpload = true
		# dragleave: ->
		# 	@dragUpload = false
		hidePlusMenu: () ->
			@plusMenu = false
		resetBubble: ()->
			@resetBubble()

		togglePlusMenu: () ->
			@plusMenu = !@plusMenu
		replaceBlock: (options) ->
			if typeof options == 'string'
				options =
					type: options
			@$store.dispatch 'vuewyg/replace',options
			.then (block) =>
				#block = @$store.getters['vuewyg/getSelectedBlock']
				setTimeout ()=>
					switch options.type
						when "paragraph", "header"
							if p = document.querySelector('#' + block.id + " [contenteditable]")
								contentEdit.placeCaretAtStart(p)
						when "video"
							setTimeout ()=>
								@parent('block').settingsModal = true
							,100
				,100
		update: ->
			content = @$refs.paragraph.innerHTML
			# content = sanitizeHtml(content,{allowedTags: sanitizeHtml.defaults.allowedTags.concat([ 'u' ])})
			@$root.$emit('update',@,content)
			if @$parent.validate({
				content: content
				})
				@$store.dispatch('vuewyg/update', {
					id: @options.id
					content: content
				})
		reSelect: ()->
			if @selection = window.getSelection()
				if @selection.type != 'Range'
					@resetBubble()
				else if @range = @selection.getRangeAt(0)
					if @range.startOffset != @range.endOffset
						DOMRect = @range.getBoundingClientRect()
						@linkIsSelected = @range.commonAncestorContainer.parentNode.tagName == 'A'
						@bubble = DOMRect
			else
				@selection = null
				@range = null
		saveSelection: ()->
			if window.getSelection
				@selection = window.getSelection()
				if @selection.getRangeAt and @selection.rangeCount
					return @range = @selection.getRangeAt(0)
				else if document.selection and document.selection.createRange
					return @range = document.selection.createRange()
				null
		restoreSelection: (range=null) ->
			if range = range || @range
				if window.getSelection
					@selection = window.getSelection()
					@selection.removeAllRanges()
					@selection.addRange(range)
				else if document.selection and range.select
						range.select()
		resetBubble: ()->
			@bubble = 
				top: 0
				left: 0
				width: 0
			@range = null
			@selection = null
			@isSelected = false
		insertLink: ()->
			link = @input.link
			if @validLink
				@restoreSelection()
				console.log link
				document.execCommand('createLink',false,link)
				@linkModal = false
				@linkIsSelected = true
				setTimeout ()=>
					@input.link = ''
					@validLink = true
				, 1000
		buttonIf: (button) ->
			if typeof button.if == 'function'
				return button.if(@)
			true
		buttonCallback: (cmd) ->
			switch typeof(cmd)
				when 'string'
					@command(cmd)
				when 'function'
					cmd()
		command: (command) ->
			switch command
				when 'b'
					document.execCommand('bold')
				when 'i'
					document.execCommand('italic')
				when 'u'
					document.execCommand('underline')
				when 's'
					document.execCommand('strikeThrough')
				when 'header'
					if @selection?.anchorNode.parentElement.tagName == 'H2'
						document.execCommand('formatBlock',false,'div')
					else
						document.execCommand('formatBlock',false,'h2')
				when 'quote'
					if @selection?.anchorNode.parentElement.tagName == 'BLOCKQUOTE'
						document.execCommand('formatBlock',false,'div')
					else
						document.execCommand('formatBlock',false,'blockquote')
				when 'code'
					if @selection?.anchorNode.parentElement.tagName == 'PRE'
						document.execCommand('formatBlock',false,'div')
					else
						document.execCommand('formatBlock',false,'pre')
				when 'ul'
					document.execCommand('insertUnorderedList',false)
					@resetBubble()
				when 'ol'
					document.execCommand('insertOrderedList',false)
					@resetBubble()
				when 'link'
					@saveSelection()
					@linkModal = true
					@restoreSelection()
				when 'unlink'
					document.execCommand('unlink',false,null)
					@linkIsSelected = false
				when 'unformat'
					document.execCommand('removeFormat',false,null)
			@$emit('command',command)

</script>
<style lang="stylus">
.block-paragraph
	pre
		overflow: scroll
		white-space: pre-wrap
	position relative
	&.dragover
		min-height 100px
	blockquote
		ol, li
			list-style-position inside
	p
		line-height 1.8em
		margin 5px 0 !important
	h1,h2,h3,h4,h5
		margin 10px 0 7px
	.block-plus
		position absolute
		top -13px
		left -50px
		.block-select
			position absolute
			top 5px
			left 50px
			min-width 600px
			.btn
				margin 0 5px 0 0 !important
	.block-bubble
		position fixed
		top 0
		left 0
		z-index 10
		.icon.caret.down
			position absolute
			left 45%
			line-height 0
			bottom -22px
			font-size 20px
			z-index 0
	.dragarea
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba(0,0,0,.1)
		display flex
		flex-direction column
		justify-content center
		align-items center
		min-height 100px
		border 1px dashed rgba(0,0,0,.3)
.block
	p[placeholder]:empty::before
		color rgba(0,0,0,.2)
		content attr(placeholder)
.block.selected
	p.placeholder:empty::before
		color rgba(0,0,0,.2)
		content "Вставьте ссылку на твит, изображние с другого сайта или ролик с YouTube…"
</style>