<template lang="pug">
div.block-quote
	.quote
		v-form(v-model="valid")
			v-layout(row wrap)
				v-flex(xs1)
					v-icon format_quote
				v-flex(xs11)
					v-text-field(
						label="Цитата"
						:multi-line="true"
						auto-grow
						v-model="input.text"
						color="grey lighten-1"
						required
					)
				v-flex(xs4)
					p Фотография:
					v-croppa(
						v-model="croppa"
						placeholder="Загрузить"
						:width="128"
						:height="128"
						:placeholder-font-size="16"
						canvas-color="#E6E6E6"
						remove-button-color="black"
						:remove-button-size="20"
						:show-loading="true"
						:prevent-white-space="true"
						:image-border-radius="14"
					)
						img(
							v-if="input.image != ''"
							slot="initial"
							:src="input.image"
						)
				v-flex(xs8)
					v-text-field(
						label="Автор"
						prepend-icon="person"
						v-model="input.author"
					)
					v-text-field(
						label="Об авторе"
						prepend-icon="face"
						v-model="input.bio"
						hint="Можно указать должность или звание цитируемого автора."
					)
					v-text-field(
						label="Источник"
						prepend-icon="link"
						v-model="input.link"
						placeholder="https://ya.ru"
						hint="Вставьте ссылку на источник."
						:rules="rules.link"
					)
				v-layout(row align-center align-content-center justify-center)
					v-flex(xs3)
						v-btn(
							color="primary"
							right
							@click="save"
							:disabled="loading"
						)
							template(v-if="loading")
								|	Сохраняю…
							template(v-else)
								|	Сохранить
		v-snackbar(
			:value="!loading"
		)
			| Сохранено
	
			//-
				header
					v-icon format_quote
					blockquote(v-html="parsedQuote")
				footer
					img(:src="input.image" v-if="input.image" :alt="input.author")
					div(:class="{'no-image':!input.image}")
						.quote-author {{input.author}}
						.quote-bio {{input.bio}}
						a.quote-link(:href="input.link") {{getLink}}
					
</template>
<script lang="coffee">
import Croppa from 'vue-croppa'
import {REGEX} from '../regex.coffee'
# import SettingsModal from '../Modals/Settings.vue'
import {finder} from '../../mixins/finder.coffee'
export default
	mixins: [ finder ]
	components: {'v-croppa':Croppa.component}
	props:
		options:
			type: Object
			required: true
	data: () ->
		{
			valid: true
			loading: false
			preview: false
			croppa: {}
			input:
				text: ''
				author: ''
				bio: ''
				image: ''
				link: ''
				backgroundColor: '#FDF8F2'
			rules:
				link: [
					(v) ->
						if v.length < 1 || REGEX.LINK.test v 
							return true
						'Укажите корректную ссылку.'
				]
		}
	computed:
		parsedQuote: ()->
			@input.text.replace(/(?:\r\n|\r|\n)/g, '<br />')
		getLink: ()->
			if @input.link != ''
				parser = document.createElement('a')
				parser.href = @input.link
				return parser.protocol + '//' + parser.hostname
	beforeMount: ()->
		@input.text = @options.text if @options.text
		@input.author = @options.author if @options.author
		@input.bio = @options.bio if @options.bio
		@input.image = @options.image if @options.image
		@input.link = @options.link if @options.link
	mounted: ()->
	methods:
		save: ()->
			if image_base64 = @croppa.generateDataUrl('image/jpeg', 0.8)
				axios.post(@parent('editor').urls.image_upload,{
					image:
						base64: image_base64 
				}).then (response) =>
					console.log 'input before',@input
					console.log 'response',response
					data = response.data.image
					@input.image = data.file.thumb.url
					console.log 'input after',@input
					@uploading = false
					@update()
				.catch (error) =>
					console.log error
					@uploading = false
			else
				@update()
			@preview = true
		update: ()->
			@loading = true
			block = 
					id: @options.id
					text: @input.text
					author: @input.author
					bio: @input.bio
					image: @input.image
					link: @input.link
			@$store.dispatch 'vuewyg/update', block
			setTimeout =>
				@loading = false
			, 1000
</script>
<style lang="stylus">
@import 'vue-croppa/dist/vue-croppa.min.css'
.block-quote
	margin 15px 0 !important
.croppa-container
	.icon.icon-remove
		top -8px !important
		right -8px !important
.quote
	background-color antiquewhite //#FDF8F2
	padding 20px
	border-radius 5px
	header
		display flex
		.icon
			font-size 3em
		blockquote
			border none !important
			font-size 1.4em
	footer
		display flex
		align-items center
		justify-content left
		margin-top 15px
		> img
			border-radius 100em
			width 64px
			height 64px
		.no-image
			margin-left 50px
		> div
			padding 10px 
	&-author
		font-weight bold		
		font-size 1.1em

</style>
