<template lang="pug">
div.block-separator
	v-icon more_horiz
	settings-modal
</template>
<script lang="coffee">
import SettingsModal from '../Modals/Settings.vue'
import {finder} from '../../mixins/finder.coffee'
export default
	components: {SettingsModal}
	mixins: [finder]
	name: 'separator'
	props: 
		options: 
			type: Object,
			required: true
</script>
<style lang="stylus">
.block-separator
	text-align center
	.icon
		font-size 4em
		color #000
</style>
