<template lang="pug">
div
	tweet(
		:id="tweetID" 
		ref="tweet"
	)
		v-progress-linear(
			v-bind:indeterminate="true"
			)
	settings-modal(
		@save="updateTweet()"
	)
</template>
<script lang="coffee">
import { Tweet, Moment } from 'vue-tweet-embed'
import {REGEX} from '../regex.coffee'
import SettingsModal from '../Modals/Settings.vue'
import {finder} from '../../mixins/finder.coffee'
export default
	mixins: [finder]
	components: {SettingsModal,Tweet}
	props:
		options:
			type: Object
			required: true	
	data: ()->
		settingsModal: false
		valid: true
		input:
			src: ''
		rules:
			src: [
				(v) ->
					if REGEX.TWITTER.test v
						return true
					"Укажите корректную ссылку на твит!"
			]
	beforeMount: () ->	
		@input.src = @options.src
	computed:
		tweetID: ()->
			@getTweetID()
	methods: 
		getTweetID: ()->
			matches = @input.src.match REGEX.TWITTER
			matches[1]
</script>
<style lang="stylus">
	
</style>
