<template lang="pug">
div.block-video(:class="{'full':size}")
	v-progress-linear(
		v-bind:indeterminate="true"
		v-if="loading"
	)
	template(v-else)
		figure.video(:style="figureStyle")
			div.video__poster(
				@click="showEmbed = true"
				v-if="!showEmbed"
				:style="posterStyle"
				ref="poster"
			)
				v-icon(@click="showEmbed=true") fa-youtube-play
			iframe(
				:width="width" 
				:height="height" 
				:src="'https://www.youtube.com/embed/'+getSrc+'?rel=0&autoplay=1'" 
				frameborder="0" 
				allowfullscreen
				v-if="showEmbed"
				)
			figcaption() {{input.caption}}
		settings-modal(
			@save="update()"
			)
			div(slot="settings")
				v-form(v-model="valid")
					v-text-field(
						label="Ссылка на видео"
						v-model="input.src"
						:rules="rules.src"
						required
					)
					v-text-field(
						label="Описание"
						v-model="input.caption"
					)
					.field
						label Размер:
						v-btn-toggle(mandatory v-model="size")
							v-btn(flat v-for="(size,index) in sizes" :key="index") {{size}}
</template>
<script lang="coffee">
import {REGEX} from '../regex.coffee'
# import sanitizeHtml from 'sanitize-html'
import SettingsModal from '../Modals/Settings.vue'
import {finder} from '../../mixins/finder.coffee'
export default
	mixins: [finder]
	components: {SettingsModal}
	props: 
		options: {
			type: Object,
			required: true
		}
		selected: {
			type: Boolean,
			default: false
		}
	data: -> 
		showEmbed: false
		valid: false
		loading: false
		size: 0
		input: 
			src: ''
			caption: ''
		rules:
			src: [
				(v) -> 
					if REGEX.YOUTUBE.test v
						return true
					"Укажите корректный источник видео!"
			]
	watch:
		size: (wide)->
			@$parent.nowrap = !!wide
	computed:
		sizes: -> @parent('editor').videoSizes
		posterStyle: ->
			if @options.thumb
				background = @options.thumb
			else
				background = 'http://img.youtube.com/vi/'+@getSrc+'/mqdefault.jpg'
			{
				width: if @size then '100%' else @width+'px',
				height: @height+'px'
				backgroundPosition: '50% 50%'
				backgroundImage: 'url("'+background+'")'
				backgroundRepeat: 'no-repeat'
				backgroundSize: 'cover'
			}
		figureStyle: ()->
			{
				'min-height': @height + 'px'
			}
		getSrc: () ->
			if REGEX.YOUTUBE.test @options.src
				matches =  @options.src.match REGEX.YOUTUBE
				return matches[1]
			null
		width: () ->
			if @size
				'100%'
			else
				@options.width ? 600
		height: () ->
			width = if @size then document.querySelector('.ruwyg').offsetWidth else @width
			Math.ceil(360*(width/640))
	mounted: () ->
		@input.src = @options.src
		@input.caption = @options.caption if @options.caption
		@size = @options.size || 0
	methods: 
		update: ()->
			@loading = true
			if @options.src
				@loading = false
				@$store.dispatch 'vuewyg/update', {
					id: @options.id
					src: @input.src
					size: @size
					thumb: 'http://img.youtube.com/vi/'+@getSrc+'/mqdefault.jpg'
					caption: @input.caption
					# caption: sanitizeHtml(@input.caption,{allowedTags: []})
				}
			else
				axios.get(@parent('editor').urls.og+encodeURIComponent(@input.src))
				.then (response) =>
					og = response.data.og
					@loading = false
					@$store.dispatch 'vuewyg/update', {
						id: @options.id
						src: @input.src
						size: @size
						thumb: og.image
						caption: if @options.caption then @input.caption else og.title   
					}
				.catch (error) =>
					@loading = false
					@$store.dispatch 'vuewyg/update', {
						id: @options.id
						src: @input.src
						size: @size
						thumb: 'http://img.youtube.com/vi/'+@getSrc+'/mqdefault.jpg'
						caption: @input.caption
						# caption: sanitizeHtml(@input.caption,{allowedTags: []})
					}
</script>
<style lang="stylus">
.ui.input.positive
	input
		border-color #A4C493 !important
label
	font-weight bold
.video
	position relative
	&__edit
		position absolute
		left -40px
		top 50%
		margin-top -17px !important
	&__poster
		display flex
		align-items center
		justify-content center
		i.icon
			color rgba(0,0,0,.7)
			text-decoration none
			font-size 5em
			line-height 1em !important
			cursor pointer !important
			&:hover
				color rgba(255, 38, 0, .7)
				text-shadow 1px 1px 3px rgba(0,0,0,.3)
figure.video
	&.edit
		border 1px solid rgba(0,0,0,.1)
		padding 15px
		border-radius 5px
	margin 0 !important
	figcaption
		&.edit
			color rgba(0,0,0,0.2)
			&::before
				display block
				content: "Описание: 	"
				color rgba(0,0,0,.7)
		text-align center
		color rgba(0,0,0,.95)
		&:empty::after
			color #CCC
			content "Подпись к ролику…"
</style>
