<template lang="pug">
v-container.block(
	:id="options.id" 
	@mouseover="selectBlock" 
	:class="{'nowrap':nowrap}"
	)
	.block-wrapper
		component(
			ref="block"
			:is="'block-' + options.type"
			:options="options"
			:selected="selected"
			@hasModal="checkModal"
			)
		.block-error(v-if="error") {{error}}
	.block-controls(ref="controls")
		template(v-if="!options.permanent")
			v-tooltip(bottom)
				v-icon(slot="activator" @click.prevent.stop="parent('editor').addBlock({type:'paragraph'})") add_circle_outline
				span Вставить параграф (после)
			v-tooltip(bottom)
				v-icon(slot="activator" v-if="prev && !prev.permanent" @click.prevent.stop="move('up')") keyboard_arrow_up
				span Переместить вверх
			v-tooltip(bottom)
				v-icon(slot="activator" v-if="next && !next.permanent" @click.prevent.stop="move('down')") keyboard_arrow_down
				span Переместить вниз
		v-tooltip(bottom v-if="showSettings")
			v-icon(slot="activator" @click.stop="settingsModal = true") settings
			span Настройки	
		v-tooltip(right)
			v-icon(@click.prevent.stop="destroyBlock" v-if="!options.permanent" slot="activator") backspace
			span Удалить блок
</template>
<script lang="coffee">
# import Paragraph from './Blocks/Paragraph.vue'
# import Header from './Blocks/Header.vue'
# import Video from './Blocks/Video.vue'
# import Tweet from './Blocks/Tweet.vue'
# import Image from './Blocks/Image.vue'
# import Link from './Blocks/Link.vue'
# import Code from './Blocks/Code.vue'
# import Quote from './Blocks/Quote.vue'
import {finder} from '../mixins/finder'
export default
	name: 'block'
	mixins: [finder]
	components:
		'block-paragraph': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Paragraph.vue')`
		'block-header': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Header.vue')`
		'block-video': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Video.vue')`
		'block-twitter': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Tweet.vue')`
		'block-image': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Image.vue')`
		'block-link': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Link.vue')`
		'block-code': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Code.vue')`
		'block-quote': -> `System.import(/* webpackPrefetch: true*/'./Blocks/Quote.vue')`
	props:
		options: 
			type: Object
			required: true
		selected:
			type: Boolean
			default: false
	data: ->
		settingsModal: false
		hasModalSettings: false
		valid: true
		error: ''
		nowrap: false
	computed:
		showSettings: ->
			if @hasModalSettings 
				return true 
			if @options.settings?
				return @$store.getters['vuewyg/getSettings'](@options.type)?
			false
		getSettings:->
			@$store.getters['vuewyg/getSettings'](@options.type)
		next: -> @$store.getters['vuewyg/getNextBlock']
		prev: -> @$store.getters['vuewyg/getPrevBlock']
	methods:
		validate: (data)->
			validators = @$store.getters['vuewyg/getValidators'](@options.type)
			if validators
				for name, validator of validators
					if data[name]?
						@error = validator(data[name],@options)
						@valid = typeof @error != "string"
						@$emit 'validate',@options.id,@valid
						false unless @valid
			true
		move: (direction) ->
			switch direction
				when 'up'
					@$store.dispatch 'vuewyg/moveUp', @options.id
				else
					@$store.dispatch 'vuewyg/moveDown', @options.id
		checkModal: (value)->
			@hasModalSettings = value
		destroyBlock: ->
			@$store.dispatch 'vuewyg/destroy', {id: @options.id}
		selectBlock: ->
			@$emit('selectBlock',@options.id)
		unfocusBlock: ->
			@$emit('unfocusBlock',@options.id)
</script>
<style lang="stylus">
.block
	display block
	width 100%
	position relative
	padding 0 !important
	&-wrapper
		width 600px
		margin 0px auto
		position relative
	&.nowrap
		.block-wrapper
			width 100%
		.block-controls
			right 10px !important
	&-error
		color red
	&-controls
		background rgba(255,255,255,.8)
		padding 10px
		border-radius 5px
		visibility hidden
		position absolute 
		top 50%
		transform translateY(-50%)
		transition all .5s ease
		right 0px
		i
			margin 0 5px 0 5px
			font-size 1.2em
			cursor pointer
			color rgba(0,0,0,.2)
			&:hover
				color rgba(0,0,0,.4)
.block.selected
		.block-controls
			visibility visible !important
.fa.icon.fa-bars
	cursor move !important
</style>
