<template lang="pug">
v-app
	v-content
		.vuewyg(
		ref="editor"
		@keydown.enter.ctrl.prevent="addBlock({type: 'paragraph'})"
		@dragenter.prevent="dragenter"
		@drop="drop"
		)
			block(
					v-for="(block,index) in getBlocks" 
					:id="block.id"
					:options="block"
					:selected="selectedBlockIndex == index"
					:key="index+'-'+block.id" 
					@selectBlock="selectBlock"
					@unfocusBlock="unfocus"
					:class="{selected: selectedBlockIndex == index}"
					@validate="validate"
				)
			.block.new(@click="addBlock({type:'paragraph'})")
		slot
</template>
<script lang="coffee">
import contentEdit from 'content-edit'
import Block from './Block.vue'
import {REGEX} from './regex.coffee'
import arrayMove from 'array-move'
export default
	name: 'editor'
	components: 
		block: Block
	props: 
		urls:
			type: Object
			default: -> 
				image_upload: 'http://localhost:3000/api/v1/post/1/image/upload'
				og: 'http://localhost:3000/api/v1/og?url='
		imageSizes:
			type: Object
			default: ->
				small: 'Маленький'
				medium: 'Средний'
				large: 'Большой'
				full: 'По ширине'
		videoSizes:
			type: Object
			default: ->
				normal: 'По ширине'
				full: 'Во весь экран'
	data: ->
		blockToDestroy: false
		blocks: ['header','link','image','quote','code']
		block_types:
			header:
				icon: 'title'
				label: 'Заголовок'
			link:
				icon: 'link'
				label: 'Ссылка'
			image:
				icon: 'photo'
				label: 'Изображение'
			quote:
				icon: 'format_quote'
				label: 'Цитата'
			code:
				icon: 'code'
				label: 'Программный код'
		buttons: [
				{
					label: 'Жирный'
					icon: 'format_bold'
					command: 'b'
				}
				{
					label: 'Наклонный'
					icon: 'format_italic'
					command: 'i'
				}
				{
					label: 'Подчёркнутый'
					icon: 'format_underline'
					command: 'u'
				}
				{
					label: 'Перечёркнутый'
					icon: 'strikethrough_s'
					command: 's'
				}
				{
					label: 'Заголовок'
					icon: 'title'
					command: 'header'
				}
				{
					label: 'Ссылка'
					icon: 'fa-link'
					command: 'link'
					# position: 4
					if: (context)->
						!context.linkIsSelected
				}
				{
					label: 'Убрать ссылку'
					icon: 'fa-unlink'
					command: 'unlink'
					# position: 4
					if: (context)->
						context.linkIsSelected
				}
				{
					label: 'Список'
					icon: 'format_list_bulleted'
					command: 'ul'
				}
				{
					label: 'Нумерованный список'
					icon: 'format_list_numbered'
					command: 'ol'
				}
				{
					label: 'Цитата'
					icon: 'format_quote'
					command: 'quote'
				}
				{
					label: 'Код'
					icon: 'code'
					command: 'code'
				}
			]
		valid: true
		validBlocks: {}
		drag: false
	computed:
		getAvailableBlocks: ->
			data = {}
			for name in @blocks
				if @block_types[name]?
					data[name] = @block_types[name]
			data
		getBlocks: ->
			@$store.getters['vuewyg/getBlocks']
		selectedBlockIndex: ->
			@$store.getters['vuewyg/getSelectedBlockIndex']
	methods: 
		dragenter: (e)->
			unless @drag
				@addBlock
					type:'image'
					src: ''
			@drag = true
		drop: (e)->
			@drag = false
		addButtons: (buttons)->
			for button in buttons
				Vue.set @buttons,@buttons.length,button
				if button.position
					Vue.set @buttons,arrayMove(@buttons,@buttons.length-1,button.position)
		registerBlockTypes: (blocks) ->
			for name,block of blocks
				Vue.set @blocks,@blocks.length,name
				Vue.set @block_types,name,block
				Vue.component 'block-'+name, block.component
		setBlocks: (blocks) ->
			@$set 'blocks',blocks
		validate: (id,valid)->
			@validBlocks[id] = valid
			@valid = true
			for n,v of @validBlocks
				if !v
					@valid = false
			@$emit 'valid', @valid
		export: ()->
			if @valid
				@$store.getters['vuewyg/export']
			else
				console.log 'Не могу экспортировать данные, поскольку в редакторе есть ошибки при заполнении блоков.'
		import: (data)->
			@$store.dispatch('vuewyg/all',data)
		addBlock: (options = {}) ->
			new Promise (resolve,reject)=>
				@$store.dispatch('vuewyg/add',options).then (block) =>
					resolve(block)
					setTimeout ()=>
						if p = document.querySelector('#' + block.id + " [contenteditable]")
							contentEdit.placeCaretAtStart(p)
					,100
		destroyBlock: (id) ->
			@$store.dispatch('vuewyg/destroy',{
				id: id,
				select_previous: true
				})
			#if block?.type == 'paragraph'
			#	contentEdit.placeCaretAtEnd(document.querySelector('#'+block.id + ' p'))
		updateBlock: (id,content) ->
			@$store.dispatch('vuewyg/update',id,{content: content})
		selectBlock: (id, forcePlaceCaretAtEnd = false) ->
			@$store.dispatch('vuewyg/select',id).then ()=>
				if p = document.querySelector('#' + id + " [contenteditable]")
					if forcePlaceCaretAtEnd
						contentEdit.placeCaretAtEnd(p)
					else if p.innertText == ""
						contentEdit.placeCaretAtStart(p)
		unfocus: () ->
			@$store.dispatch 'vuewyg/select', null
</script>
<style lang="stylus">
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
@import url('https://fonts.googleapis.com/css?family=Material+Icons')
.application.theme--light
	background #FFF !important
.ruwyg
	padding 10px 20px
	position relative
	z-index 7
	// &.highlighted
		// .block
		// 	border-left 4px solid rgba(0,0,0,.1)
		// 	padding-left 10px
[contenteditable]
	outline none !important
	border none !important
blockquote
	border-left 4px solid rgba(0,0,0,.2)
	padding-left 10px
	margin 0 !important
pre
	background #e8e8e8
	padding 10px
	border-radius 5	px
.block
	a
		text-decoration underline
		color blue
	&.new
		height 100px
</style>
