<template lang="pug">
#app
	editor(
		ref="editor"
		)
</template>

<script lang="coffee">
import Editor from './components/Editor'
import Separator from './components/Blocks/Separator'
export default
	name: 'app'
	components:{
		Editor
	}
	data: ->
		state:''
	mounted: ->
		@$refs.editor.registerBlockTypes
			separator:
				icon: 'more_horiz'
				label: 'Разделитель'
				component: Separator
	methods:
		submit: ->
			@state = @$refs.editor.export()
			
</script>

<style lang="stylus">
body
	background rgba(0,0,0,0.1)
#app
	margin 20px auto
	background #FFF
	width 1000px
</style>
